.paymentContainer{
 
        padding: 20px;
        font-family: 'Raleway';
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        color: var(--dark-terminal-color);

}
