# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Ignore build artifacts
/frontend/build
/frontend/node_modules

# Ignore sensitive files
/.env
/node_modules


# testing
/coverage

# production
/build

# Ignore environment variables file
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
