.main{
    display: flex;
}
.priceContainer{
    flex: 1;
    margin-top: 30px;
    text-align: center;
}
.roomContainer{
    margin-left: 20px;
    flex: 2;
    display: flex;
    align-items: left;
    justify-content: center;
    max-width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: column;
    padding: 10px;
    border-radius: 20px ;
    border: 1px solid rgb(194, 189, 189);
    background-color: rgb(231, 229, 229);
    margin-top: 30px;
}
body{
    background-color: rgb(212, 210, 210);
}
.propertyImage{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 20px;
    object-fit: contain;
    
}
.imgContainer{
    height: 400px;
    margin: 10px 10px 10px 0px;
    align-items: center;
    display: flex;
    
   
}
.hotelDescContainer{
    display: flex;
    align-items: center;
}
.bookingButton{
    margin-left: 20px;
    flex-grow: 1;
    
}
.hotelDesc{
    display: flex;
}
.hotelDesc p{
    margin: 20px;
}
.locationContainer{
    display: flex;
    align-items: baseline;
    
}
.city{
    height: 100%;
    margin-left: 5px;
}
.icon{
    padding-top: 3px;
}
.accomodationName{
    display: flex;
    justify-content: center;
}
.dateContainer span{
    margin: 5px 5px 5px 10px;
    
}
.contactContainer{
    max-width: 100%;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 0 2px 2px rgb(243, 116, 116);
    border-radius: 5px;
    cursor: pointer;
    
    margin-left: 40px;
    margin-right: 40px;
}
.body-color{
    background-color: rgb(233, 228, 228);
}