.roomContainer{
    display: flex;
    align-items: left;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 10px;
}
.propertyImage{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    object-fit: contain;
}
.imgContainer{
    height: 400px;
    margin: 10px 10px 10px 0px;
    align-items: center;
    display: flex;
}
.hotelDescContainer{
    display: flex;
    align-items: center;
}
.bookingButton{
    margin-left: 20px;
    flex-grow: 1;
    
}
.hotelDesc{
    flex-grow: 2;
}
