.reservationBoxContainer{

    max-width: 100%;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 0 2px 2px rgb(243, 116, 116);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(233, 228, 228);;
    margin-left: 40px;
    margin-right: 40px;
}
.srInformation{
    
}
.srInformation h4{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}
.srInformation p{
    text-align: left;
    margin-left: 10px;
}
.dateContainer{
    display: flex;
    margin-left: 10px;
}
.buttonContainer{
    margin: 20px;
}